body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #434455;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* *1header */

.nav a {
  text-decoration: none;
}

.nav ul {
  list-style-type: none;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.info {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.studio {
  color: #2e2f42;
}

.studio:hover {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #404bbf;
}

.studio:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #404bbf;
  text-decoration: underline;
}
.address {
  font-style: normal;
}
.address ul {
  list-style-type: none;
}

.contacts {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}

.contacts:hover {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #404bbf;
}

.contacts:focus {
  color: #404bbf;
}
/* *main */
/* !section-1 */
.first-section {
  background-color: #2e2f42;
}

.main-heading {
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.main-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

.main-btn:hover {
  background-color: #404bbf;
}

.main-btn:focus {
  background-color: #404bbf;
}

/* !section-2 */
.second-section ul {
  list-style-type: none;
}

.second-section ul h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.second-section ul p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* !section-3 */

.third-section {
  background: #f4f4fd;
}

.third-section ul {
  list-style-type: none;
}

.heros {
  background-color: #ffffff;
}
.third-section ul li {
  background-color: #ffffff;
}
.third-section ul li h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.profession-hero {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

/* !section-4 */

.fourth-section {
  background-color: #fff;
}

.portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.fourth-section ul {
  list-style-type: none;
}

.fourth-section ul li h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
}

.fourth-section ul li p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

/* *footer */
footer {
  background: #2e2f42;
}
footer a {
  text-decoration: none;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.span-logo {
  color: #f4f4fd;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
